<!DOCTYPE html>
<html lang="en">
<%- include ('articles/header') -%>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap");
        /* body {
            margin: 0;
            font-family: "Quattrocento Sans";
            overflow: hidden;
        } */
        
        h2 {
            font-weight: bolder;
        }
        
        #auth {
            width: 100vw;
            height: 95vh;
            display: flex;
            flex-direction: row;
        }
        
        #auth.sign-up #slider {
            left: 50vw;
        }
        
        #auth form {
            flex: 0 0 50%;
            padding: 5vh 10vw;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #f2f2f7;
        }
        
        #auth form label {
            margin-bottom: 2px;
        }
        
        #auth form button,
        #auth form input {
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
            font-size: 1.25rem;
            outline: none;
        }
        
        #auth form input {
            border: 1px solid #b5b5b5;
            transition: 125ms ease;
        }
        
        #auth form input:focus {
            border-color: blue;
            box-shadow: 0 0 0 2pt rgba(0, 0, 255, 0.3);
        }
        
        #auth form button {
            color: white;
            border: none;
            margin-top: 10px;
            background: rgba(0, 0, 255, 0.7);
            box-shadow: 0 3px 15px 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            font-family: "Quattrocento Sans";
            transition: 75ms ease;
        }
        
        #auth form button:active {
            background: blue;
            transform: scale(0.95);
        }
        
        #slider {
            color: white;
            position: absolute;
            top: 5;
            left: 0;
            width: 50vw;
            height: 100vh;
            background-image: url(https://images.unsplash.com/photo-1498084393753-b411b2d26b34?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
            background-attachment: fixed;
            background-size: 100vw;
            transition: left 300ms ease;
            clip-path: inset(0);
        }
        
        #slider:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* background-color: rgb(105, 105, 139); */
            opacity: 0.5;
        }
        
        #slider div {
            color: white;
            position: fixed;
            height: 100%;
            width: 50vw;
            padding: 50px;
            top: 0;
            z-index: 100;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }
        
        #slider #login-text {
            left: 0;
        }
        
        #slider #sign-up-text {
            left: 50vw;
        }
        
        .toggle {
            text-align: center;
            color: #757575;
        }
        
        .toggle span {
            color: blue;
            cursor: pointer;
        }
    </style>

    <body>
        <section id="auth">
            <form id="sign-up" action="/user/signup" method="POST">
                <h2>Sign Up</h2>
                <div class="form-group">
                    <label for="fullname">Full Name</label>
                    <input required value="<%= user.fullname %>" type="text" name="fullname" id="fullname" class="form-control">
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input required value="<%= user.username %>" type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required value="<%= user.email %>" type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required value="<%= user.password %>" type="password" name="password" id="password" class="form-control">
                </div>

                <button type="submit" class="btn btn-success">Sign Up</button>
                <div class="toggle">
                    Already have an account?
                    <span onclick="$('#auth').removeClass('sign-up')">Log in</span>
                </div>
            </form>

            <form id="login" action="/user/login" method="POST">
                <h2>Log In</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input required value="<%= user.email %>" type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input required value="<%= user.password %>" type="password" name="password" id="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Login</button>
                <div class="toggle">
                    Have you been here before?
                    <span onclick="$('#auth').addClass('sign-up')">Sign up<span>
              </div>
            </form>
                
            <div id="slider">
              <div id="login-text">
                <h1>Welcome back!</h1>
                <p>We value our partners and manage our business relationships with integrity and transparency.</p>
              </div>
              
              <div id="sign-up-text">
                <h1>Open up new posibilities</h1>
                <p>Welcome on board as we embark on an exploration of innovation enlightenment for new possibilities.</p>
              </div>
            </div>
          </section>
          </body>
          <br>
          <hr>
      
          <%- include ('articles/footer') -%>

</html>